In [2]:
import marimo as mo
import pandas as pd
import numpy as np

In [50]:
real_set = pd.read_csv("/Users/amandali/projects/surveyapp/old_stuff/old_survey/participant_data/all_participant_data.csv")
reevaluation_df = pd.read_csv("/Users/amandali/projects/surveyapp/old_stuff/old_survey/participant_data/wednesday_8am_12pm_4pm_reevaluation.csv")
personality_class = pd.read_csv("/Users/amandali/projects/surveyapp/amanda_analysis/form_data/classification_num.csv")

In [69]:
filler_real = pd.DataFrame(columns = ["Achiever, Explorer, Socializer, Influencer"])
for i in range(real_set.shape[0]):
    new_df = breakdown(answers_to_int(real_set.iloc[i].tolist(), personality_class))
    filler_real = pd.concat([filler_real, new_df])

achiever_real = filler_real["Achiever"].mean()/8 * 100
explorer_real = filler_real["Explorer"].mean()/8 * 100
socializer_real = filler_real["Socializer"].mean()/8 * 100
influencer_real = filler_real["Influencer"].mean()/8 * 100

In [65]:
filler_real

,"Achiever, Explorer, Socializer, Influencer",Achiever,Explorer,Socializer,Influencer
0,NaN,1.0,3.0,4.0,0.0
0,NaN,3.0,3.0,1.0,1.0
0,NaN,3.0,4.0,0.0,1.0
0,NaN,3.0,3.0,2.0,0.0
0,NaN,2.0,5.0,1.0,0.0
...,...,...,...,...,...
0,NaN,3.0,3.0,0.0,2.0
0,NaN,3.0,4.0,0.0,1.0
0,NaN,3.0,3.0,1.0,1.0
0,NaN,4.0,3.0,1.0,0.0
0,NaN,3.0,4.0,1.0,0.0

In [70]:
print(achiever_real, explorer_real, socializer_real, influencer_real)

34.725 36.199999999999996 18.325 10.75

In [71]:
filler_df = pd.DataFrame(columns = ["Achiever, Explorer, Socializer, Influencer"])
for i in range(reevaluation_df.shape[0]):
    new_df = breakdown(answers_to_int(reevaluation_df.iloc[i].tolist(), personality_class))
    filler_df = pd.concat([filler_df, new_df])
achiever = filler_df["Achiever"].mean()/8 * 100
explorer = filler_df["Explorer"].mean()/8 * 100
socializer = filler_df["Socializer"].mean()/8 * 100
influencer = filler_df["Influencer"].mean()/8 * 100

In [72]:
print(achiever, explorer, socializer, influencer)

35.0609756097561 37.674216027874564 16.855400696864113 10.409407665505228

In [53]:
# transform list of num values into dict with personality types as keys and 
def breakdown(answers_int):
    '''
    :type answers_int: arr int
    :rtype: dataframe

    takes in a arr of integers that represent personality classes and organizes them into a dictionary with aggregates
    '''
    result = {
    "Achiever": 0,
    "Explorer": 0,
    "Socializer": 0,
    "Influencer":0
    }
    for k in range(len(answers_int)):
        if answers_int[k] == 1:
            result["Achiever"] += 1
        elif answers_int[k] == 2:
            result["Explorer"] += 1
        elif answers_int[k] == 3:
            result["Socializer"] += 1
        elif answers_int[k] == 4:
            result["Influencer"] += 1
    return (pd.DataFrame([result]))

def answers_to_int(answers_str, personality_class):
    '''
    :type answers_list: arr str
    :type personality_class: pandas dataframe
    :rtype: arr int

    * personality_class: first column has possible questions, each personality type represented as columns and corresponding row vals are survey answers that fit under that personality type
    '''
    result = []
    # for each question (row indexes)
    for row in range(len(answers_str)):
        # then check the values in that row, aka the possible answers to that question
        for col in range(personality_class.shape[1]):
            # if the 
            if personality_class.iloc[row, col] == answers_str[row]:
                result.append(col)

    return result

In [52]:
answers_to_int([1, 2, 3, 4, 1, 2, 3, 4], personality_class)

[1, 2, 2, 4, 4, 4, 1, 2]